@using SimpleBookStore.Web.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Simple Book Store", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Books", "Index", "Books")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Site Map", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.SystemMessages != null)
        {
            foreach (var message in (SystemMessageCollection)ViewBag.SystemMessages)
            {
                string messageClass = "alert alert-success";
                switch (message.Type)
                {
                    case SystemMessageType.Informational:
                        messageClass = "alert alert-info";
                        break;
                    case SystemMessageType.Success:
                        messageClass = "alert alert-success";
                        break;
                    case SystemMessageType.Warning:
                        messageClass = "alert alert-warning";
                        break;
                    case SystemMessageType.Error:
                        messageClass = "alert alert-danger";
                        break;
                }

                @:<div class="@messageClass top-buffer"><strong>@Html.Raw(message.Content)</strong></div>
            }
        }

        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <div class="row top-buffer bottom-buffer">
                <div class="col-lg-6">
                    <div class="input-group">

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" name="queryString" class="form-control" placeholder="Search for...">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Simple Book Store Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
