@model SimpleBookStore.Web.Mvc.ViewModels.Books.IndexViewModel
@using Resources = Resources.Books.Views.Index;
@{
    ViewBag.Title = Resources.Books_Page_Title;
}

<section class="col-md-3">
    <h2>
        @Resources.Categories_Section_Title
    </h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="/Books/">All</a></li>
        @Html.DisplayFor(x => x.BookTypes)
    </ul>
</section>
<section class="col-md-9">
    <h2>@ViewBag.Title</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>@Resources.Book_Number</th>
                <th>@Resources.Type</th>
                <th>@Resources.Title</th>
                <th>@Resources.Author</th>
                <th>@Resources.Price</th>
                <th>@Resources.Details</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(x => x.Books)
        </tbody>
    </table>
</section>